<launch>
  <!-- Run the map server with a blank map -->
 
  <node name="map_server" pkg="map_server" type="map_server" args="/home/sr/catkin_ws/src/omnicar/map/test2.yaml"/>
    
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">\
    
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="15.0" />

    <!--param name="base_global_planner" value="RAstar_planner/RAstarPlannerROS"/-->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> 
    <param name="controller_frequency" value="3.0"/> <!-- fast -->
    <param name="controller_patiente" value="15.0"/>
    <!--param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/--> 
    <rosparam file="$(find gohome)/config_diff/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find gohome)/config_diff/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find gohome)/config_diff/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find gohome)/config_diff/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find gohome)/config_diff/dwa_local_planner_params.yaml" command="load" />
    <!--rosparam file="$(find gohome)/config_omni/planner/move_base_params.yaml" command="load" /-->
  </node>
	
  <!-- Run a static transform between /odom and /map -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0.0 0.0 0 0 0 0 /odom /base_link 50" /> -->
  <!-- node pkg="tf" type="static_transform_publisher" name="map2baselink" args="0 0 0 0 0 0 0 /map /base_link 50"/ -->
  <!-- node pkg="tf" type="static_transform_publisher" name="baselink2laser" args="0 0 0 0 0 0 1 /base_link /laser 50"/ -->

</launch>
